<template>
    <div class="users">
        <div class="users__header">
            <div class="text-h4 mb-4">
                Список пользователей
            </div>
            <v-dialog
                    v-model="newUserDialog"
                    width="500"
                    :persistent="creatingUser"
            >
                <template v-slot:activator="{ on }">
                    <v-btn color="warning" rounded v-on="on">
                        Создать пользователя
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        Создание нового пользователя
                    </v-card-title>
                    <v-card-text>
                        <v-select
                                v-model="newUserData.permission"
                                outlined
                                label="Роль"
                                :items="roles"
                                item-value="value"
                                item-text="name"
                        >
                        </v-select>
                        <v-text-field
                                v-model="newUserData.nickname"
                                outlined
                                label="Логин"
                        />
                        <v-text-field
                                v-model="newUserData.password"
                                hide-details
                                outlined
                                type="password"
                                label="Пароль"
                        />
                    </v-card-text>
                    <v-card-actions>
                        <v-btn
                                color="warning"
                                block
                                @click="createUser"
                                :disabled="creatingUser || !newUserData.password || !newUserData.nickname || !newUserData.permission"
                        >
                            Создать
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <v-card
            v-for="user of users"
            :key="user.id"
            class="user-card"
        >
            <div class="user-card__content">
                <div class="user-card__main">
                    <div class="user-card__name">
                        <b>{{user.nickname}}</b> (id {{user.id}})
                    </div>
                    <div class="user-card__permission">
                        {{getUserRole(user.permission)}}
                    </div>
                </div>
                <div class="user-card__actions" v-if="user.id !== $store.state.user.id">
                    <v-menu offset-y :close-on-content-click="false">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" class="u-btn" v-on="on">
                                Сменить роль
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-text>
                                Выберите новую роль пользователя
                                <v-select
                                        class="mt-3"
                                        v-model="user.newPermission"
                                        outlined
                                        hide-details
                                        label="Роль"
                                        :items="roles"
                                        item-value="value"
                                        item-text="name"
                                >
                                </v-select>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer/>
                                <v-btn color="primary" @click="changeRole(user)" text>
                                    Сохранить
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-menu>
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn color="error" class="u-btn" v-on="on">
                                Удалить
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-text>
                                Вы уверены, что хотите <br>
                                удалить этого пользователя?
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer/>
                                <v-btn color="primary" @click="deleteUser(user.id)" text>
                                    Подтвердить удаление
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-menu>
                </div>
            </div>
        </v-card>
    </div>
</template>

<script>
import Vue from 'vue';
export default Vue.extend({
    name: "Users",
    data() {
        return {
            newUserDialog: false,
            creatingUser: false,
            newUserData: {
                nickname: '',
                password: '',
                permission: null,
            },
            roles: [
                { value: 'user', name: 'Пользователь',},
                { value: 'manager', name: 'Менеджер',},
                { value: 'admin', name: 'Администратор',},
            ],
            users: [],
            search: '',
        }
    },
    mounted() {
        if (this.$store.state.user.permission !== 'admin') {
            this.$router.push('/')
        } else {
            this.loadUsers()
        }
    },
    watch: {
        newUserDialog() {
            this.newUserData = {
                nickname: '',
                password: '',
                permission: null,
            }
        }
    },
    methods: {
        async createUser(){
            this.creatingUser = true
            const data = await this.$store.dispatch('registerUser', {...this.newUserData})
            if (!data.error) {
                this.loadUsers(this.search)
            }
            this.newUserDialog = false
            this.creatingUser = false
        },
        async loadUsers(search){
            const data = await this.$store.dispatch('getUsers', {search})
            if (data) {
                this.users = data.users
            }
        },
        getUserRole(permission) {
            const rolesList = this.roles.map(el => el.value)
            const index = rolesList.indexOf(permission)
            return this.roles[index].name
        },
        async deleteUser(id) {
            const data = await this.$store.dispatch('deleteUser', {id})
            if (!data.error)
                this.users = this.users.filter(user => user.id !== id)
        },
        async changeRole(user){
            const data = await this.$store.dispatch('changeUserRole', {id: user.id, permission: user.newPermission})
            if (!data.error) {
                user.permission = user.newPermission
                user.newPermission = null
            }
        }
    }
})
</script>

<style scoped lang="scss">
    .users {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .user-card {
        margin: 16px 0;
        &__content {
            padding: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__main {
            display: flex;
            flex-direction: column;
        }
        &__name {
            font-size: 18px;
        }
        &__permission {
            font-size: 13px;
        }
    }
</style>